# Database
DATABASE_URL="postgresql://postgres:12345@localhost:5432/exam_management_db"
# JWT
JWT_SECRET="ExamManagementSystemSecretKeyChangeInProductionMinimum256Bits"
JWT_EXPIRES_IN="7d"

# Cloudinary (for file uploads)
CLOUDINARY_CLOUD_NAME="dwrf0zfsl"
CLOUDINARY_API_KEY="292794589636689"
CLOUDINARY_API_SECRET="-hUYkuRU3jWoEnriiuq7GxtYbsY"

# Cloudflare R2 (for PDF and large file uploads)
R2_ACCOUNT_ID="your_account_id"
R2_ACCESS_KEY_ID="your_access_key_id"
R2_SECRET_ACCESS_KEY="your_secret_access_key"
R2_BUCKET_NAME="your_bucket_name"
R2_PUBLIC_URL="https://your-public-url.r2.dev"

# Email (Gmail SMTP)
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="skrishnapiriyan@gmail.com"
EMAIL_PASS="dezo zmmi cube lvyr"
EMAIL_FROM="EMS System <skrishnapiriyan@gmail.com>"

# Server
PORT=5000
CLIENT_URL="http://localhost:5173"
USER_CLIENT_URL="http://localhost:5174"
